* {
	margin: 0px;
	padding: 0px;
}
.wrapper {
	width: 970px;
	height: auto;
	box-sizing: border-box;
	/*background-color: purple;*/
}
.margin_nav_items{
	margin-right: 21px;
}
.container_header {
	background-color: red;
	width: 970px;
	height: 150px;
	padding: 3px 5px 25px 35px;
	box-sizing: border-box;
}
.img_python {
    width: 55%;
    height: 104%;
    position: relative;
    top: 11px;
}
.text_modifier_links {
    position: absolute;
    top: 10px;
    right: 67px;
}
.container_search_bar {
    background-color: brown;
    width: 317px;
    height: 70px;
    position: absolute;
    top: 30px;
    right: 42px;
}
.search_bar {
    position: absolute;
    top: 10px;
    right: 84px;
    height: 1px;
    height: 45px;
    width: 200px;
}
button {
    position: absolute;
    top: 14px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #a71fd1;
}
.container_search_bar_shadow {
    background-color: black;
    width: 317px;
    height: 70px;
    position: absolute;
    top: 32px;
    right: 40px;
}
.container_header_nav {
/*    background-color: purple;
*/    width: 970px;
    height: 55px;
    padding: 9px;
}
.container_bubble {
    padding-top: 8px;
    width: 100%;
    background-color: #f759e7;
}
.container_bubble_shadow {
	width: 100%;
   	position: absolute;
    top: 32px;
    right: 40px;
}
ul {
	padding-left: 21px;
	margin-bottom: 9px;
}
.container_main {
	background-color: orange;
	width: 970px;
	height: 400px;	
}
.container_supplements {
	background-color: pink;
	width: 970px;
	height: 300px;	
}
.footer {
	background-color: green;
	width: 970px;
	height: 150px;
}
.text_align {
	text-align: center;
}
.border_radius {
	border-radius: 9px
}
.white_font_color {
	font-color: white;
	color: white;
}
.inline_block {
	display: inline-block;	
}
.fontsize_24 {
	font-size: 173%;
}
.yellow_font_color {
	font-color: yellow;
	color: yellow;
}
.arial_font{
	font-family: arial;
}
.box_sizing {
	box-sizing: border-box;
}
.bg_color_black {
	background-color: black;
}
.decor_none {
	text-decoration:none;
}